<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">

        {{>header}}

        <form>
            <input type="text" placeholder="Location" required="required" autofocus="true">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>footer}}

    <script src="js/js.js"></script>
</body>

</html>